@import url('https://fonts.googleapis.com/css?family=Martel:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');


@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

$f1: 'Alatsi', sans-serif;
$f2: 'Lora', serif;
$f3: 'Source Serif Pro', serif;

$font: 16px;
$l100: 100%;
$light: 'white';
$dark: 'black';
$danger: 'red';

$blog-post: #0c5460;
$new: 'mediumpurple';

$bp-sm: 425px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1440px;